<br>
<br>
<div class="col-sm-12 col-md-8 col-md-offset-2">
  <% if @entries.any? %>
    <ul>
      <% @entries.each do |entry| %>
        <%= render 'entry', entry: entry %>
      <% end %>
    </ul>
  <% end %>
</div>