<br>
<br>
<div class="col-sm-12 col-md-8 col-md-offset-2">
  <% if @users.any? %>
    <ul>
      <% @users.each do |user| %>
        <div>
          <%= link_to user.phone, user_path(user.id) %>
          <%= time_ago_in_words(user.updated_at) %>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>