<div class="container-fluid">
  <div class="row home">
    <div class="col-sm-12 col-lg-6 col-lg-offset-1 landing">
      <h1>Calorie</h1>
      <h1 class="number">(415) 592-6475</h1>
      <h2>Text this number to get started losing weight</h2>
      <br>
      <p>Calorie is the most simple and long lasting way of tracking calories. Simply text a description of the food or send a photo of it. Calorie will have a report for you the next morning that will have the calories you've had and the nutriotional breakdown of your day.</p>
      <br>
      <p>The most common reason people stop tracking their meals is because how cumbersome it becomes after time. Calorie doesn't force you to download a new app or find the right food from a database. It sacrifices small inaccurracies so we can ensure long term usage to actually achieve your goals.</p>
    </div>
    <div class="col-sm-12 col-lg-5 landing">
      <%= image_tag "mockup.png", class: "img-responsive" %>
    </div>
  </div>
</div>
<script>
  	$(document).ready(function(){
      $('.home').height($(window).height());
  });
</script>