.home {
  /*background-color: #2ecc71;*/

  h1, h2, h3, p {
    color: #34495e;
  }

  p {
    font-size: 2em;
  }

  h1 {
    font-size: 4em;
    padding-bottom: 20px;
  }

  .number {
    font-size: 5em;
    color: #e74c3c;
  }

  .landing {
    padding-top: 100px;
  }
}