// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title, label, button, .lead, input, .unsub, h5, h4, p {
  font-family: Montserrat;
}

h5 {
  padding-bottom: 20px;
}

#title {
  font-size: 60px;
  padding: 80px 0 15px 0;
}

.purple {
  color: #6f5499;
}

.purple-background {
  background-color: #6f5499;
}

.btn-default {
  @include button-variant(white, #6f5499, #6f5499);
}

input[type="text"]:focus {
  border-color: #6f5499;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #6f5499;
  outline: 0 none;
}

.alert-purple {
  color: white;
  border-color: #6f5499;
  background-color: #6f5499;
}

.unsub {
  color: white;
}

.block {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

.panel-default {
  .panel-heading {
    color: white !important;
    background-color: #6f5499 !important;
    border-color: #6f5499 !important;
  }

  border-color: #6f5499 !important;
}

@media (min-width: 992px) {
  .pull-right-mobile {
    float: right;
  }
}

@media (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}